<div>
  <h2 id="page-heading" data-cy="SourceHeading">
    <span jhiTranslate="muxtoriyatApp.source.home.title">Sources</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="muxtoriyatApp.source.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-source"
        [routerLink]="['/source/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="muxtoriyatApp.source.home.createLabel">Create a new Source</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  @if (sources?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="muxtoriyatApp.source.home.notFound">No Sources found</span>
    </div>
  }

  @if (sources && sources.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="muxtoriyatApp.source.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="muxtoriyatApp.source.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="image">
              <div class="d-flex">
                <span jhiTranslate="muxtoriyatApp.source.image">Image</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fileUrl">
              <div class="d-flex">
                <span jhiTranslate="muxtoriyatApp.source.fileUrl">File Url</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fileContent">
              <div class="d-flex">
                <span jhiTranslate="muxtoriyatApp.source.fileContent">File Content</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="fileType">
              <div class="d-flex">
                <span jhiTranslate="muxtoriyatApp.source.fileType">File Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="category.id">
              <div class="d-flex">
                <span jhiTranslate="muxtoriyatApp.source.category">Category</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (source of sources; track trackId(source)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/source', source.id, 'view']">{{ source.id }}</a>
              </td>
              <td>{{ source.name }}</td>
              <td>{{ source.description }}</td>
              <td>
                @if (source.image) {
                  <a (click)="openFile(source.image, source.imageContentType)">
                    <img [src]="'data:' + source.imageContentType + ';base64,' + source.image" style="max-height: 30px" alt="source" />
                  </a>
                  <span>{{ source.imageContentType }}, {{ byteSize(source.image) }}</span>
                }
              </td>
              <td>{{ source.fileUrl }}</td>
              <td>{{ source.fileContent }}</td>
              <td [jhiTranslate]="'muxtoriyatApp.FileType.' + (source.fileType ?? 'null')">
                {{ { null: '', IMAGE: 'IMAGE', VIDEO: 'VIDEO', PDF: 'PDF' }[source.fileType ?? 'null'] }}
              </td>
              <td>
                @if (source.category) {
                  <div>
                    <a [routerLink]="['/category', source.category.id, 'view']">{{ source.category.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/source', source.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/source', source.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(source)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (sources && sources.length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
