<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (category(); as categoryRef) {
      <div>
        <h2 data-cy="categoryDetailsHeading"><span jhiTranslate="muxtoriyatApp.category.detail.title">Category</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ categoryRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="muxtoriyatApp.category.name">Name</span></dt>
          <dd>
            <span>{{ categoryRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="muxtoriyatApp.category.description">Description</span></dt>
          <dd>
            <span>{{ categoryRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="muxtoriyatApp.category.order">Order</span></dt>
          <dd>
            <span>{{ categoryRef.order }}</span>
          </dd>
          <dt><span jhiTranslate="muxtoriyatApp.category.parent">Parent</span></dt>
          <dd>
            @if (category()!.parent) {
              <div>
                <a [routerLink]="['/category', category()!.parent?.id, 'view']">{{ categoryRef.parent?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/category', categoryRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
