<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (source(); as sourceRef) {
      <div>
        <h2 data-cy="sourceDetailsHeading"><span jhiTranslate="muxtoriyatApp.source.detail.title">Source</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ sourceRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="muxtoriyatApp.source.name">Name</span></dt>
          <dd>
            <span>{{ sourceRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="muxtoriyatApp.source.description">Description</span></dt>
          <dd>
            <span>{{ sourceRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="muxtoriyatApp.source.image">Image</span></dt>
          <dd>
            @if (sourceRef.image) {
              <div>
                <a (click)="openFile(sourceRef.image ?? '', sourceRef.imageContentType)">
                  <img [src]="'data:' + sourceRef.imageContentType + ';base64,' + sourceRef.image" style="max-width: 100%" alt="source" />
                </a>
                {{ sourceRef.imageContentType }}, {{ byteSize(sourceRef.image ?? '') }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="muxtoriyatApp.source.fileUrl">File Url</span></dt>
          <dd>
            <span>{{ sourceRef.fileUrl }}</span>
          </dd>
          <dt><span jhiTranslate="muxtoriyatApp.source.fileContent">File Content</span></dt>
          <dd>
            <span>{{ sourceRef.fileContent }}</span>
          </dd>
          <dt><span jhiTranslate="muxtoriyatApp.source.fileType">File Type</span></dt>
          <dd>
            <span [jhiTranslate]="'muxtoriyatApp.FileType.' + (sourceRef.fileType ?? 'null')">{{
              { null: '', IMAGE: 'IMAGE', VIDEO: 'VIDEO', PDF: 'PDF' }[sourceRef.fileType ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="muxtoriyatApp.source.category">Category</span></dt>
          <dd>
            @if (source()!.category) {
              <div>
                <a [routerLink]="['/category', source()!.category?.id, 'view']">{{ sourceRef.category?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/source', sourceRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
